* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 1440px;
  margin: 0 auto;
  background-color: #E5E5E5;
}
@font-face {
  font-family: Poppins;
  src: url(Poppins-Medium.ttf);
}
@font-face {
  font-family: Inter;
  src: url(Inter-VariableFont_slnt\wght.ttf);
}
@font-face {
  font-family: Sen;
  src: url(Sen-Regular.ttf);
}
h1 {
  font-family: Sen;
  padding-left: 6px;
}
header {
  padding: 24px 135px 0;
  margin-bottom: 136px;
}
a {
  text-decoration: none;
  color: #2e476b;
  letter-spacing: 0.01em;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-logo {
  display: flex;
}
.nav-anchors {
  display: flex;
  gap: 36px;
  font-weight: 400;
  font-size: 16px;
}
.nav-wrapper {
  display: flex;
  gap: 72px;
  align-items: center;
}

.book-now {
  color: #f66f4d;
  border: 1.4px solid #f66f4d;
  border-radius: 27px;
  width: 170px;
  height: 54px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
}
.book-now img{
    width: 16px; ;
    height: 15px; ;
}
