* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 1440px;
  margin: 0 auto;
  background-color: #e5e5e5;
}
@font-face {
  font-family: Poppins;
  src: url(Poppins-Medium.ttf);
}
@font-face {
  font-family: Inter;
  src: url(Inter.ttf);
}
@font-face {
  font-family: Sen;
  src: url(Sen-Regular.ttf);
}
h1 {
  font-family: Sen;
  padding-left: 6px;
}
header {
  padding: 24px 135px 0;
  margin-bottom: 136px;
}
a {
  text-decoration: none;
  color: #2e476b;
  letter-spacing: 0.01em;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 {
  font-family: Inter;
  color: #2d3134;
  font-weight: 600;
  font-size: 56px;
  text-align: center;
  margin-bottom: 16px;
}
h2 + p {
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  color: #5b5f62;
  margin-bottom: 28px;
}
main button {
  padding: 10px 20px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  border-radius: 30px;
}
main button:first-of-type {
  color: #ffffff;
  background-color: #2d3134;
}
main button:hover {
  cursor: pointer;
}
.main-logo {
  display: flex;
}
.nav-anchors {
  display: flex;
  gap: 36px;
  font-weight: 400;
  font-size: 16px;
}
.nav-wrapper {
  display: flex;
  gap: 72px;
  align-items: center;
}

.book-now {
  color: #f66f4d;
  border: 1.4px solid #f66f4d;
  border-radius: 27px;
  width: 170px;
  height: 54px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
}
.book-now img {
  width: 16px;
  height: 15px;
}
.book-now:hover {
  color: white;
  background-color: #000;
  border-color: #000;
}
.location-buttons {
  display: flex;
  gap: 14px;
  justify-content: center;
  margin-bottom: 51px;
}
/* Grid tests */
.grid-img1 {
  grid-area: cottege;
}
.grid-img2 {
  grid-area: italy;
}
.grid-img3 {
  grid-area: bridge;
}
.grid-img4 {
  grid-area: group;
}
.grid-img5 {
  grid-area: twin;
}
.grid-img6 {
  grid-row: bigben;
}
.gallery-container {
  display: grid;
  grid-template-areas:
    "cottege italy italy bridge bridge"
    "group italy italy twin bigben";
  justify-content: center;
  align-items: stretch;
  row-gap: 26px;
  column-gap: 30px;
  margin-bottom: 84px;
}
